
.maze-container {
    background: #222;
    display: flex;
    flex-direction: column;
    position: relative;

    .stats {
        flex-shrink: 0;
        flex-grow: 0;
        text-align: center;
        padding: .8em 0;
        font-size: 1.1em;
        color: #eee;
    }

    .maze {
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1em;
        box-sizing: border-box;
        height: 0;
        
        & > div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            max-width: 100%;
            aspect-ratio: 1 / 1;
            box-sizing: border-box;
            
            & > div {
                --maze-size: 15;
                font-size: 1em;
                position: relative;
                width: min(100%, calc(1em * var(--maze-size)));
                max-height: 100%;
                aspect-ratio: 1 / 1;

                .row {
                    display: flex;
                    flex-direction: row;
                    max-width: 100%;
                    height: calc(1 / var(--maze-size) * 100%);
    
                    .cell {
                        width: calc(1 / var(--maze-size) * 100%);
                        flex-shrink: 1;
                        background-color: purple;
    
                        &.cell-empty { background-color: transparent; }
                        &.cell-wall { background-color: #eee; }
                        &.cell-finish {
                            background-color: #ffaa00;
                            background: linear-gradient(135deg,#ffaa00 0%, #ffaa00 50%, #c28100 50%, #c28100 100%);
                        }
                    }
                }
    
                .player {
                    position: absolute;
                    width: calc(1.2 / var(--maze-size) * 100%);
                    height: calc(1.2 / var(--maze-size) * 100%);
                    background-color: red;
                    border-radius: .55em;
                    translate: -50% -50%;
                }
            }

        }
    }

    .sim-buttons {
        flex-shrink: 0;
        flex-grow: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: .4em;
        padding: 1em 0;
        user-select: none;

        & > button {
            margin: 0 .2em;
            background-color: #f2f2f2;
            color: #222;
            font-size: 1.1em;
            font-weight: bold;
            padding: .4em .8em;
            border: none;
            border-radius: .4em;
            cursor: pointer;
            font-family: inherit;

            &:hover {
                opacity: .7;
            }
        }
    }

    .fullscreen-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 3em;
        height: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;

        & > span {
            color: #aaa;
            font-size: 2em;
        }

        &:hover > span {
            color: white;
        }
    }
}